<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Estadísticas Generales</title>
    <script src="https://unpkg.com/htmx.org@1.9.3"></script>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-100 font-sans antialiased">

    {% include 'navbar.html' %}

    <main class="container mx-auto p-8">

        <section class="bg-yellow-500 text-white rounded-lg p-6 mb-8">
            <div class="text-center">
                <h2 class="text-2xl font-semibold mb-4">General Crime Statistics in Argentina</h2>
                <p class="mb-4">Check the crimes that occurred by province, year and type of crime.</p>
                <div class="text-center mb-4">
                    <button 
                        hx-get="/crimes-statistics/more?page=0" 
                        hx-target="#statistics-container" 
                        hx-swap="innerHTML" 
                        hx-trigger="click" 
                        hx-on="click: this.style.display='none'" 
                        class="bg-green-600 hover:bg-green-500 text-white py-2 px-6 rounded-lg">
                        Load General Statistics
                    </button>
                </div>
            </div>
        </section>

        <section id="general-statistics" class="bg-white rounded-lg p-6 shadow-lg mb-8">
            <h2 class="text-2xl font-semibold mb-4">General Statistics Table</h2>
            
            <div id="statistics-container">
                <table class="min-w-full table-auto border-collapse">
                    <thead>
                        <tr>
                            <th class="px-4 py-2 border-b">year</th>
                            <th class="px-4 py-2 border-b">Province</th>
                            <th class="px-4 py-2 border-b">Crime code</th>
                            <th class="px-4 py-2 border-b">Act quantity</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for statistic in statistics %}
                            <tr>
                                <td class="px-4 py-2 border-b">{{ statistic.year }}</td>
                                <td class="px-4 py-2 border-b">{{ statistic.province }}</td>
                                <td class="px-4 py-2 border-b">{{ statistic.crime }}</td>
                                <td class="px-4 py-2 border-b">{{ statistic.act_quantity }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>

                {% if next_page %}
                    <button 
                        hx-get="/general-statistics/more?page={{ next_page }}" 
                        hx-target="#statistics-container" 
                        hx-swap="innerHTML"
                        class="bg-blue-600 hover:bg-blue-500 text-white py-2 px-4 rounded-lg mt-4"
                    >
                        Cargar más
                    </button>
                {% endif %}
            </div>
        </section>

    </main>

</body>
</html>
