<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Estadísticas Criminales</title>
    <script src="https://unpkg.com/htmx.org@1.9.3"></script>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-100 font-sans antialiased">

    {% include 'navbar.html' %}

    <main class="container mx-auto p-8">
        
        <section class="bg-yellow-500 text-white rounded-lg p-6 mb-8">
            <div class="text-center">
                <h2 class="text-2xl font-semibold mb-4">¡Explora las estadísticas de delitos en Argentina!</h2>
                <p class="mb-4">Descubre cómo se distribuyen los delitos a lo largo del país y conoce las tendencias criminales más recientes.</p>
            </div>
        </section>

        <section id="poblaciones" class="bg-white rounded-lg p-6 shadow-lg mb-8">
            <h2 class="text-2xl font-semibold mb-4">Poblaciones en Provincias</h2>
            <p class="mb-4">Consulta las poblaciones de cada provincia y su relación con las estadísticas de delitos.</p>
            <a href="/poblaciones-provincias" class="bg-blue-600 hover:bg-blue-500 text-white py-2 px-4 rounded-lg">Ver Poblaciones</a>
        </section>

        <section id="estadisticas-generales" class="bg-white rounded-lg p-6 shadow-lg mb-8">
            <h2 class="text-2xl font-semibold mb-4">Estadísticas Generales</h2>
            <p class="mb-4">Accede a un resumen general de los delitos ocurridos en el país, organizados por provincias y categorías.</p>
            <a href="/estadisticas-generales" class="bg-blue-600 hover:bg-blue-500 text-white py-2 px-4 rounded-lg">Ver Estadísticas Generales</a>
        </section>

        <section id="estadisticas-calculadas" class="bg-white rounded-lg p-6 shadow-lg">
            <h2 class="text-2xl font-semibold mb-4">Estadísticas Calculadas</h2>
            <p class="mb-4">Consulta las estadísticas calculadas basadas en promedios, tendencias y otros análisis estadísticos.</p>
            <a href="/estadisticas-calculadas" class="bg-blue-600 hover:bg-blue-500 text-white py-2 px-4 rounded-lg">Ver Estadísticas Calculadas</a>
        </section>
        
    </main>

</body>
</html>
