<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Estadísticas Criminales</title>
    <script src="https://unpkg.com/htmx.org@1.9.3"></script>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-100 font-sans antialiased">

    {% include 'navbar.html' %}

    <main class="container mx-auto p-8">
        
        <section class="bg-yellow-500 text-white rounded-lg p-6 mb-8">
            <div class="text-center">
                <h2 class="text-2xl font-semibold mb-4">Explore crime statistics in Argentina!</h2>
                <p class="mb-4">Discover how crimes are distributed across the country and learn about the latest crime trends.</p>
            </div>
        </section>

        <section id="poblaciones" class="bg-white rounded-lg p-6 shadow-lg mb-8">
            <h2 class="text-2xl font-semibold mb-4">Provinces Population</h2>
            <p class="mb-4">Check the populations of each province and their relationship to crime statistics.</p>
            <a href="/provinces-population" class="bg-blue-600 hover:bg-blue-500 text-white py-2 px-4 rounded-lg">See Ppopulation</a>
        </section>

        <section id="general-statistics" class="bg-white rounded-lg p-6 shadow-lg mb-8">
            <h2 class="text-2xl font-semibold mb-4">Genera Statistics</h2>
            <p class="mb-4">Access a general summary of crimes that occurred in the country, organized by province and category.</p>
            <a href="/general-statistics" class="bg-blue-600 hover:bg-blue-500 text-white py-2 px-4 rounded-lg">See Genera Statistics</a>
        </section>

        <section id="calculated-statistics" class="bg-white rounded-lg p-6 shadow-lg">
            <h2 class="text-2xl font-semibold mb-4">Calculated Statistics</h2>
            <p class="mb-4">View calculated statistics based on averages, trends, and other statistical analyses.</p>
            <a href="/calculated-statistics" class="bg-blue-600 hover:bg-blue-500 text-white py-2 px-4 rounded-lg">See Calculated Statistics</a>
        </section>
        
    </main>

</body>
</html>
