<header class="bg-blue-900 text-white p-6">
    <div class="container mx-auto flex justify-between items-center">
        <h1 class="text-3xl font-semibold">Criminal Statistics of the Argentine Republic</h1>
        <nav>
            <ul class="flex space-x-6">
                <li><a href="/provinces-population" class="hover:text-blue-300">Populations in Provinces</a></li>
                <li><a href="/general-statistics" class="hover:text-blue-300">Genera Statistics</a></li>
                <li><a href="#calculated-statistics" class="hover:text-blue-300">Calculated Statistics</a></li>
            </ul>
        </nav>
    </div>
</header>